.addminRoute {
    background-color: #233030;
    height: 100%;
    padding-bottom: 100%;
}

.dashboard-top {
    background-color: #233030;
    padding: 20px;


}

.ne-link {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: start;
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding-left: 2rem;
    background-color: rgb(102, 102, 197);
    margin: 3px;
    border-radius: 5px;
}

.ad {
    width: 100%;
}

.ne-link:hover {
    color: rgb(253, 73, 8);
    background-color: darkblue;
}

.admin-part {
    margin-top: 5rem;
}