.content {
    text-align: start;
}

.ck-btn {
    border: 0px;
    background-color: white;
}

.brand-part {
    text-align: start;
    margin-left: 50px;
}

.product-link {
    text-decoration: none;
}