.in {
    width: 30%;
    height: 45px;
    margin-top: 15px;
}

.reg-btn {
    background-color: #f29023;
    border: 0.5px solid gray;
    font-weight: 900;
    font-size: 1.5rem;
    color: wheat;
}

.g-btn {
    background-color: #d34836;
    border: 0.5px solid gray;
    font-weight: 900;
    font-size: 1rem;
    margin-bottom: px;
    height: 40px;
    width: 30%;
    color: white;
}

.f-btn {
    background-color: #3b5998;
    border: 0.5px solid gray;
    font-weight: 900;
    font-size: 1rem;
    margin-bottom: px;
    height: 40px;
    width: 30%;
    color: white;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .f-btn {
        font-weight: 300;
        font-size: 10px;
    }

    .g-btn {
        font-weight: 300;
        font-size: 10px;
    }
}