.cart-item-img {
    width: 100px;
    border: 1px solid black;

}

.item {
    margin-top: 50px;
    background-color: rgb(255, 243, 243);
    padding: 50px;
}

.card {
    background-color: rgb(255, 243, 243) !important;
    margin-top: 50px;
    text-align: start;


}

.cupon-inpt {
    width: 60%;
    height: 38px;
    margin-left: 15px;
}

.cpn-btn {
    width: 30%;
    margin-right: 15px;
    background-color: #2abbe8;
    border: #2abbe8;
    color: white;
    font-weight: 600;
}

.total-price {
    color: #f57224;
}

.to-checkout-btn {
    text-decoration: none;
    background-color: #f57224;
    margin-top: 40px !important;
    width: 100%;
    border: #f57224;
    color: white;
    font-weight: 600;
    height: 35px;
}

.check-link {
    text-decoration: none;
    color: white;
}

.item-dlt-btn {
    border: none;
    color: red;
    margin-top: 8px;
    background-color: rgb(255, 243, 243);
}

.item-dlt-btn:hover {
    font-size: 20px;
}