.header-part {
    padding-top: 10px;
    background-color: white;
}

.header-logo {
    width: 200px;

}

.btn-sing {
    font-size: 30px;
    color: #000;
    border: 0px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}

.resizing_select {
    width: auto;
    border: 0px;
    height: 3rem;
}

.input-tag {
    border: 0px;
    width: 40rem;
    height: 3rem;
    border: 1px solid gray;
    border-radius: 5px;
}

.search-icon {
    font-size: 1.5rem;
}

.cart-icon {
    font-size: 2rem;

}

.header-menu {
    display: flex;
    background-color: #233030;
    color: white !important;
    padding: 10px 0px;
}

.menu-btn {
    background-color: #233030;
    margin-left: 50px;
    color: white;
    border: none;
}

.nav-link {
    margin-left: 3rem;
}

.link {
    text-decoration: none;
    color: white;
    margin-right: 1rem;
}

.src-btn {
    border: none;
    position: relative;
    left: -50px;
    background-color: white;
}

.cart-inpt {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    font-weight: 600;
    position: relative;
    top: -19px;
    right: 10px;
    background-color: #f85606;
    color: white;
    border-color: #f85606;

}

.cart-link {
    text-decoration: none;
    color: #000;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .input-tag {
        width: 8rem;
    }

    .header-logo {
        width: 50px;
    }

    .resizing_select {
        width: 40px;
    }

    .search-icon {
        font-size: 1rem;
    }

    .menu-btn {
        margin-left: 10px;
    }

    .src-btn {
        position: relative;
        left: -30px;
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
    .input-tag {
        width: 10rem;
    }

    .header-logo {
        width: 1000px;
        background-color: #f85606;
    }

    .resizing_select {
        width: 60px;
    }

    .search-icon {
        font-size: 1rem;
    }

    .menu-btn {
        margin-left: 10px;
    }

    .src-btn {
        position: relative;
        left: -30px;
    }

} */