.sildImg {
    height: 10px !important;
    width: 100% !important;
}

#k {
    height: 75vh;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #k {
        height: 30vh;
    }
}